*{
    padding: 0;
    margin: 0;
      
    
}
body{
    background:linear-gradient(rgba(150, 187, 223, 0.459), rgb(243, 165, 253));
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 98.5vw; */
    /* height: 100vh; */
}  

#logo{
    display: flex;
    justify-content: center;

} 

 #logo img{
    height: 150px;
    width: 150px;
}



ul{
    
    list-style-type: none;
    display: flex;
    justify-content:space-evenly;
    color: aliceblue;
    /* background-color: black; */
    /* filter: opacity(0.8); */
    padding-bottom: 10px; 
    width: 98.5vw;
        
}


nav a{
    text-decoration:none;
    transition: 1s;
    color:black;
    font-weight: bold;
    font-size: 20px;
}

nav a:visited{
    color: black;
    
}
nav a:hover{
    transition-duration: 1s;
    color: black;
}
h1{

   
    height: 20vh;
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    font-size: 30px;
    animation-name: title;
    animation-timing-function: 1s;
    animation-delay: 1s;
    animation-duration: 2s;
}

#pics{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 


}

#pics img{
    width: 30%;
    border-radius: 20px;
    margin-bottom: 30px;
   

}



@keyframes title{
    0%{
        0px
    }
    50%{
        color: blue;
    }
    100%{
        color: black;
    }

}
.cards div{
    border-radius: 20px;
    box-shadow: 3px 3px 3px black;
    height: 300px;
    width: 300px;
    background-color: rgba(26, 21, 21, 0.26);
    margin-bottom: 30px;
}
.cards{

    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
}
span{
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: bold;

}
p{
    direction: rtl;
    font-size: 20px;
    text-align: center;
}
form{
    width: 50vw;
    background-color: rgba(137, 43, 226, 0.349);
    border-radius: 50px;
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 4px 4px black;
    text-align: center;

}
footer{
    direction: rtl;
    background:linear-gradient(rgba(19, 4, 19, 0.459), rgb(101, 41, 241));
    color:black;
    width: 98.5vw;
}
footer a img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 200px;
}
@media  only screen  and (max-width:425px){
  
     h1{
        font-size: 15px;
     }
    .form{
        width: 70vw;
       /* margin-right: 200px; */
       margin-left: 75px;
    }
    
}    