*{
    padding: 0;
    margin: 0;   
    direction: rtl;
}


body{
    background:linear-gradient(rgba(226, 135, 185, 0.459), rgb(243, 165, 253));
    background-repeat: no-repeat;
    background-size: cover;
    width: 97vw; 
}

#logo{
    display: flex;
    justify-content: center;
}

#logo img{
    height: 150px;
    width: 150px;
}




ul{
    
    list-style-type: none;
    display: flex;
    justify-content:space-evenly;
    color: aliceblue;
    width: 98.5vw;
        
}
nav{
    background-color: rgba(0, 0, 0, 0.938);
}


nav a{
    text-decoration:none;
    transition: 1s;
    color:white;
    font-weight: bold;
    font-size: 25px;
}

nav a:visited{
    color: white;
    
}


video{
    width: 98.5vw;
    margin-top: 20%;

}


#paraPticha{
    width: 98.5vw;
    height:auto;
    background-image:url(https://cdn.pixabay.com/photo/2018/03/02/19/46/rose-petals-3194062__340.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    display: flex;
    justify-content: center;

    
}

#titlePara{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
    
}

#para{
   
    width: 50vw;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#hupot{
    background:linear-gradient(rgba(226, 135, 185, 0.459), rgb(243, 165, 253));
    padding-bottom: 20px;
    width: 98.5vw;
    
      
}

#hupotH{
    margin-bottom: 50px;
    color: black;
    text-align: center;
    font-size: 50px;
    
}

    

#hupot img{
    width: 200px;
    height: 150px;
}

#manot{
   
    width: 98.5vw;
}

#hupotImg{
   
    display: flex;
    justify-content: space-evenly;
}



#hupotImg img{
    border-radius: 50px;
    width: 300px;
    height: 250px;
}

#manotPic img{
    width: 300px;
    height: 250px;
    border-radius: 20px;
    
}

#manotPic{
    display: flex;
    justify-content: space-around;
}

#manotH{
    margin-bottom: 50px;
    color: black;
    text-align: center;
    font-size: 50px;
}


form{
    width: 30vw;
    background-color: rgba(255, 250, 250, 0.705);
    border-radius: 50px;
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
   margin-right: 35%;
    box-shadow: 4px 4px 4px 4px black;
    text-align: center;

}

footer{
    direction: rtl;
    background-color:black;
    color:black;
    width: 98.5vw;
}

footer a img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 200px;
}

@media  only screen  and (max-width:425px){
.ptichaAA{
  color: blue;
}
#hupotImg {
display: flex;
margin-right:13%;

flex-wrap: wrap;
flex-direction: column;
width: 50%;
}
#manotPic{
    display: flex;
margin-right:13%;
margin-bottom: 5%;
flex-wrap: wrap;
flex-direction: column;
width: 50%;
}
form{
    width: 70vw;
   margin-right: 20%;
   
   
}
.image{
 margin-bottom: 20%;
}
.media{
   margin-right: 400px

    
}


    
